@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  /* Brand Palette */
  --color-brand-primary: #1E293B;
  --color-brand-secondary: #FFA000;
  --color-brand-accent: #945D00;

  --color-surface-container-low: #f8fafc;
  --color-surface-container-lowest: #ffffff;
  --color-surface-tint: var(--color-brand-primary);
  --color-primary: var(--color-brand-primary);
  --color-on-primary: #ffffff;
  --color-primary-container: #f1f5f9;
  --color-on-primary-container: #1e293b;

  --color-secondary: var(--color-brand-secondary);
  --color-on-secondary: #ffffff;
  --color-secondary-container: #fff7ed;

  --color-background: #ffffff;
  --color-on-background: #0f172a;

  --color-surface: #ffffff;
  --color-on-surface: #0f172a;
  --color-on-surface-variant: #64748b;

  --color-outline: #cbd5e1;
  --color-outline-variant: #e2e8f0;

  --color-error: #ef4444;
  --color-error-container: #fef2f2;
  --color-on-error: #ffffff;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body,
#root {
  height: 100%;
}